Repository steve-todorov/turbo-telegram: changes, and which Jenkins stages are due for each by the changed paths.
All: strongboxci/alpine:base, strongboxci/alpine:jdk8, strongboxci/alpine:jdk11

strongboxci/alpine:base:
              steps {
                  script {
                      docker.build('-f images/alpine/Dockerfile.alpine -t strongboxci/alpine:base --no-cache .')
                  }
              }
          

strongboxci/alpine:jdk8:
              steps {
                  echo "jdk8"
              }
          

strongboxci/alpine:jdk11:
              steps {
                  echo "jdk11"
              }
          

Update Jenkinsfile.alpine
  Jenkinsfile.alpine
Due: none

Update Dockerfile.alpine
  images/alpine/Dockerfile.alpine
Due: strongboxci/alpine:base, strongboxci/alpine:jdk8, strongboxci/alpine:jdk11

Create setup-user.sh
  common-scripts/setup-user.sh
Due: none

Create Dockerfile.alpine.jdk8
  images/alpine/jdk8/Dockerfile.alpine.jdk8
Due: strongboxci/alpine:jdk8

Create build.sh
  build.sh
Due: none

Update build.sh
  build.sh
Due: none

img
  Jenkinsfile
Due: none

img
  Jenkinsfile
  build.sh
  images/alpine/Dockerfile.alpine
  images/alpine/jdk11/Dockerfile.alpine.jdk11-docker
  images/alpine/jdk11/Dockerfile.alpine.jdk11-mvn3.6
  images/alpine/jdk11/Dockerfile.alpine.jdk11-mvn3.6-gradle5.6
  images/alpine/jdk11/Dockerfile.alpine.jdk11-mvn3.6-mono5
  images/alpine/jdk11/Dockerfile.alpine.jdk11-mvn3.6-mono5-nuget3.4
  images/alpine/jdk11/Dockerfile.alpine.jdk11-mvn3.6-node10
  images/alpine/jdk11/Dockerfile.alpine.jdk11-mvn3.6-sbt1.3
  images/alpine/jdk8/Dockerfile.alpine.jdk8
  images/alpine/jdk8/Dockerfile.alpine.jdk8-docker
  images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6
  images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6-gradle5.6
  images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6-mono5
  images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6-mono5-nuget3.4
  images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6-node10
  images/alpine/jdk8/Dockerfile.alpine.jdk8-mvn3.6-sbt1.3
  images/centos/jdk11/Dockerfile.centos.jdk11
  images/centos/jdk11/Dockerfile.centos.jdk11-mvn3.6
  images/centos/jdk8/Dockerfile.centos.jdk8
  images/centos/jdk8/Dockerfile.centos.jdk8-mvn3.6
  images/debian/jdk11/Dockerfile.debian.jdk11
  images/debian/jdk11/Dockerfile.debian.jdk11-mvn3.6
  images/debian/jdk8/Dockerfile.debian.jdk8
  images/debian/jdk8/Dockerfile.debian.jdk8-mvn3.6
  images/opensuse/jdk11/Dockerfile.opensuse.jdk11
  images/opensuse/jdk11/Dockerfile.opensuse.jdk11-mvn3.6
  images/opensuse/jdk8/Dockerfile.opensuse.jdk8
  images/opensuse/jdk8/Dockerfile.opensuse.jdk8-mvn3.6
  images/ubuntu/jdk11/Dockerfile.ubuntu.jdk11
  images/ubuntu/jdk11/Dockerfile.ubuntu.jdk11-mvn3.6
  images/ubuntu/jdk11/Dockerfile.ubuntu.jdk11-mvn3.6-node10-browsers
  images/ubuntu/jdk8/Dockerfile.ubuntu.jdk8
  images/ubuntu/jdk8/Dockerfile.ubuntu.jdk8-mvn3.6
  images/ubuntu/jdk8/Dockerfile.ubuntu.jdk8-mvn3.6-node10-browsers
Due: strongboxci/alpine:base, strongboxci/alpine:jdk8, strongboxci/alpine:jdk11

Path conditions:
  strongboxci/alpine:base: any of: images/alpine/Dockerfile.alpine
  strongboxci/alpine:jdk8: (any of: images/alpine/Dockerfile.alpine) or (any of: images/alpine/jdk8/Dockerfile.alpine.*)
  strongboxci/alpine:jdk11: (any of: images/alpine/Dockerfile.alpine) or (any of: images/alpine/jdk11/Dockerfile.alpine.*)
